<div class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <h4>welcome <%=req.user.username %></h4>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid bg-dark text-white">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/deposit">
                                <i class="fas fa-piggy-bank"></i>Deposit</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/withdraw">
                                <i class="fas fa-money-bill"></i>Withdraw</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/transfer">
                                <i class="fas fa-exchange-alt"></i>Transfer</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/covid19">
                                <i class="fa fa-tachometer-alt"></i>Covid-19 Live Update</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-sm-block">
            <div class="logo">
                <a href="#">
                    <h4>welcome <%=req.user.username %></h4>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/deposit">
                                <i class="fas fa-piggy-bank"></i>Deposit</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/withdraw">
                                <i class="fas fa-money-bill"></i>Withdraw</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/transfer">
                                <i class="fas fa-exchange-alt"></i>Transfer</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/covid19">
                                <i class="fa fa-tachometer-alt"></i>Covid-19 Live Update</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
            <!-- HEADER DESKTOP-->
            <div class="d-none d-sm-none">
                <%- include("../headerDesk") %>
            </div>
           <!-- HEADER DESKTOP-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-piggy-bank"></i>
                                            </div>
                                            <div class="text">
                                                <h2>(₦)<%= deposits.total_today %></h2>
                                                <span>Deposits</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-money-bill"></i>
                                            </div>
                                            <div class="text">
                                                <h2>(₦)<%= withdraws.total_today %></h2>
                                                <span>Withdraws</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-exchange-alt"></i>
                                            </div>
                                            <div class="text">
                                                <h2>(₦)<%= transfers.total_today %></h2>
                                                <span>Transfers</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h2>(₦)<%= available.balance %></h2>
                                                <span>Availability</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">recent reports</h3>
                                        <br>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Deposits</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--red"></span>
                                                    <span>Withdraws</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--yellow"></span>
                                                    <span>Transfers</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--green"></span>
                                                    <span>Availability</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">char by %</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-6">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note">
                                                        <span class="dot dot--blue"></span>
                                                        <span>Deposits</span>
                                                    </div>
                                                    <div class="chart-note mr-0">
                                                        <span class="dot dot--red"></span>
                                                        <span>Withdraws</span>
                                                    </div>
                                                    <div class="chart-note mr-0">
                                                        <span class="dot dot--yellow"></span>
                                                        <span>Transfers</span>
                                                    </div>
                                                    <div class="chart-note mr-0">
                                                        <span class="dot dot--green"></span>
                                                        <span>Availability</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="percent-chart">
                                                    <canvas id="percent-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Recent Transactions</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>date</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th>Account Number</th>
                                                <th class="text-right">Teller ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% history.forEach(hist => { %>
                                                <tr>
                                                    <td class="date-value" scope="row"s>
                                                        <%= hist.date.toLocaleDateString() %> &nbsp;
                                                        <%= hist.date.toLocaleTimeString() %> 
                                                    </td>
                                                    <td scope="row"><%= hist.transaction_type %> </td>
                                                    <td scope="row"><%= hist.amount %></td>
                                                    <td scope="row"><%= hist.account_number %></td>
                                                    <th scope="row"><%= hist.teller_id %></th>
                                                </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 Enaland Bank Nigeria. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
            <!-- data -->
    <input type="hidden" id="data"
    value="<%= deposits.total_today %> <%= withdraws.total_today %> <%= transfers.total_today %> <%= available.balance %>"/>
    </div>
</div>

    <!-- Main JS-->
<script src="js/main.js"></script>