<div class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <h4>welcome</h4>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid bg-dark">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/deposit">
                                <i class="fas fa-piggy-bank"></i>Deposit</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/withdraw">
                                <i class="fas fa-money-bill"></i>Withdraw</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/transfer">
                                <i class="fas fa-exchange-alt"></i>Transfer</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="/covid19">
                                <i class="fa fa-tachometer-alt"></i>Covid-19 Live Update</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <h4>welcome</h4>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/deposit">
                                <i class="fas fa-piggy-bank"></i>Deposit</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/withdraw">
                                <i class="fas fa-money-bill"></i>Withdraw</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/transfer">
                                <i class="fas fa-exchange-alt"></i>Transfer</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="/covid19">
                                <i class="fa fa-tachometer-alt"></i>Covid-19 Live Update</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
            <!-- HEADER DESKTOP-->
            <div class="d-none d-sm-none">
                <%- include("./headerDesk") %>
            </div>
           <!-- HEADER DESKTOP-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Total Covid19 Cases Nigeria</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-viruses"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= data.summary.confirmed_cases %></h2>
                                                <span>Confirmed Cases</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa fa-viruses"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= data.summary.active %></h2>
                                                <span>Active Cases</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fa viruses"></i>
                                            </div>
                                            <div class="text">
                                                <h2><%= data.summary.discharged %></h2>
                                                <span>Discharged</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h2><%= data.summary.death %></h2>
                                                <span>Deaths</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Chart of COVID-19 Cases in Nigeria</h3>
                                        <br>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note">
                                                    <span class="dot dot--blue"></span>
                                                    <span>Confirmed</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--red"></span>
                                                    <span>Active</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--yellow"></span>
                                                    <span>Discharged</span>
                                                </div>
                                                <div class="chart-note mr-0">
                                                    <span class="dot dot--green"></span>
                                                    <span>Deaths</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-report__chart">
                                            <canvas id="recent-rep-chart2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">chart by %</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-6">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note">
                                                        <span class="dot dot--blue"></span>
                                                        <span>Confirmed</span>
                                                    </div>
                                                    <div class="chart-note mr-0">
                                                        <span class="dot dot--red"></span>
                                                        <span>Active</span>
                                                    </div>
                                                    <div class="chart-note mr-0">
                                                        <span class="dot dot--yellow"></span>
                                                        <span>Discharged</span>
                                                    </div>
                                                    <div class="chart-note mr-0">
                                                        <span class="dot dot--green"></span>
                                                        <span>Death</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="percent-chart">
                                                    <canvas id="percent-chart2"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">States affected in Nigeria</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>State</th>
                                                <th>Confirmed</th>
                                                <th>Active</th>
                                                <th>Discharged</th>
                                                <th>Deaths</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data.datasets.forEach(c => { %>
                                                <tr>
                                                    <% c.forEach(e => {%> 
                                                        <th><%= e %></th>
                                                    <%})%>
                                                </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2020 Enaland Bank Nigeria. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
            <!-- data -->
    <input type="hidden" id="data"
    value="<%= data.summary.confirmed_cases %> <%= data.summary.active %> <%= data.summary.discharged %> <%= data.summary.death %>">
    </div>
</div>

    <!-- Main JS-->
<script src="js/main.js"></script>